@import '../../theme/';

.container {
  padding: 1%;
  padding-left: 3%;
  padding-left: 2%;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid $primary;
  background: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
