@import "../../theme/";

.text{
    color: #686868;
    font-style: italic;
    font-weight: 600;
}

.name-contact{
    color: $primary;
    font-style: italic;
    font-weight: 400;
    font-size: 90%;
}

.email-contact{
    color: #686868;
    font-style: italic;
    font-weight: 400;
    font-size: 90%;
}